.App {
  text-align: center;
}
.ab{
height: 100%;
width: 100%;
background-color: #282c34;
}
li img{
position: absolute;

top: 10px;
}
.hj{
  height: 55%;
width: 50%;
background: green;
position: absolute;
color: white;
right: 0;
}
a{
  text-decoration: none !important;
  color: white !important;
}
ul{
  display: flex;
  justify-content:flex-end;
}
ul li{
  list-style: none;
  width: 125px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.counter {
  display: flex;
  justify-content: center;
  color: black;
}
.container-fluid{
  margin-top: 5%;
  width: 35%;
  height: 5px;
}
input{
  width:100% ;
  border:none;
  border-radius: 8px;
  margin-bottom: 10px;
  line-height: 0 !important;
  color: black !important;
}
.inp{
  padding: 20px;
  border-bottom: 2px solid;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
table{
  width: 100%;
}
th{
  text-align: center !important;
}
tr{
  border-bottom: 1px solid;
}
td img{
  width: 35%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
