*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./yeshi-kangrang-wTD1-_u8x1g-unsplash.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    width: 50% !important;
    background-color: #ffffffb5;
    height: auto;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 20px;
    margin-top: 15vh;
    padding: 35px;
}
form h1{
    text-align: center;
    padding-bottom: 10px;
}
.form-control{
    border-radius: 8px !important;
    width: 90% !important;
    margin-left: 5% !important;
}
